<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>BitCoinToCoin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Um simples conversor de criptomoedas">
    <meta name="keywords" content="Criptomoeda, moeda, cryptocurrency, bitcoin, coin, converter, conversor ">
    <meta name="author" content="Vítor Marçal">
    <meta property="og:title" content="BitCoinToCoin" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bitcointocoin.herokuapp.com/" />
    <meta property="og:image" content="/shared_image.png" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/favicon.png' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
